.primary {
  color: @color-primary;
}

.bg-primary {
  background-color: @color-primary;
}

.border-primary {
  border-color: @color-primary;
}

.secondary {
  color: @color-secondary;
}

.bg-secondary {
  background-color: @color-secondary;
}

.border-secondary {
  border-color: @color-secondary;
}

.success {
  color: @color-success;
}

.bg-success {
  background-color: @color-success;
}

.border-success {
  border-color: @color-success;
}

.warning {
  color: @color-warning;
}

.bg-warning {
  background-color: @color-warning;
}

.border-warning {
  border-color: @color-warning;
}

.danger {
  color: @color-danger;
}

.bg-danger {
  background-color: @color-danger;
}

.border-danger {
  border-color: @color-danger;
}

.info {
  color: @color-info;
}

.bg-info {
  background-color: @color-info;
}

.border-info {
  border-color: @color-info;
}

.dark {
  color: @color-dark;
}

.bg-dark {
  background-color: @color-dark;
}

.border-dark {
  border-color: @color-dark;
}

.aqua {
  color: @color-aqua;
}

.bg-aqua {
  background-color: @color-aqua;
}

.border-aqua {
  border-color: @color-aqua;
}

.blue {
  color: @color-blue;
}

.bg-blue {
  background-color: @color-blue;
}

.border-blue {
  border-color: @color-blue;
}

.navy {
  color: @color-navy;
}

.bg-navy {
  background-color: @color-navy;
}

.border-navy {
  border-color: @color-navy;
}

.teal {
  color: @color-teal;
}

.bg-teal {
  background-color: @color-teal;
}

.border-teal {
  border-color: @color-teal;
}

.green {
  color: @color-green;
}

.bg-green {
  background-color: @color-green;
}

.border-green {
  border-color: @color-green;
}

.olive {
  color: @color-olive;
}

.bg-olive {
  background-color: @color-olive;
}

.border-olive {
  border-color: @color-olive;
}

.lime {
  color: @color-lime;
}

.bg-lime {
  background-color: @color-lime;
}

.border-lime {
  border-color: @color-lime;
}

.yellow {
  color: @color-yellow;
}

.bg-yellow {
  background-color: @color-yellow;
}

.border-yellow {
  border-color: @color-yellow;
}

.orange {
  color: @color-orange;
}

.bg-orange {
  background-color: @color-orange;
}

.border-orange {
  border-color: @color-orange;
}

.red {
  color: @color-red;
}

.bg-red {
  background-color: @color-red;
}

.border-red {
  border-color: @color-red;
}

.fuchsia {
  color: @color-fuchsia;
}

.bg-fuchsia {
  background-color: @color-fuchsia;
}

.border-fuchsia {
  border-color: @color-fuchsia;
}

.purple {
  color: @color-purple;
}

.bg-purple {
  background-color: @color-purple;
}

.border-purple {
  border-color: @color-purple;
}

.maroon {
  color: @color-maroon;
}

.bg-maroon {
  background-color: @color-maroon;
}

.border-maroon {
  border-color: @color-maroon;
}

.white {
  color: @color-white;
}

.bg-white {
  background-color: @color-white;
}

.border-white {
  border-color: @color-white;
}

.light {
  color: @color-light;
}

.bg-light {
  background-color: @color-light;
}

.border-light {
  border-color: @color-light;
}

.gray {
  color: @color-gray;
}

.bg-gray {
  background-color: @color-gray;
}

.border-gray {
  border-color: @color-gray;
}

.black {
  color: @color-black;
}

.bg-black {
  background-color: @color-black;
}

.border-black {
  border-color: @color-black;
}

.page {
  color: @color-page;
}

.bg-page {
  background-color: @color-page;
}

.border-page {
  border-color: @color-page;
}

.text {
  color: @color-text;
}

.bg-text {
  background-color: @color-text;
}

.border-text {
  border-color: @color-text;
}

.link {
  color: @color-link;
}

.bg-link {
  background-color: @color-link;
}

.border-link {
  border-color: @color-link;
}

.border {
  color: @color-border;
}

.bg-border {
  background-color: @color-border;
}

.border-border {
  border-color: @color-border;
}

