//颜色

@primary: #4b8cf7;

@secondary: #5bc0de;

@success: #35aa47;

@waring: #fbb046;

@danger: #d84a38;

@info: #5bc0de;

@inverse: #515151;

@aqua: #7fdbff;

@blue: #0074d9;

@navy: #001f3f;

@teal: #39cccc;

@green: #2ecc40;

@olive: #3d9970;

@lime: #01ff70;

@yellow: #ffdc00;

@orange: #ff851b;

@red: #ff4136;

@fuchsia: #f012be;

@purple: #b10dc9;

@maroon: #85144b;

@white: #ffffff;

@light: #dfdfdf;

@gray: #999999;

@black: #111111;

@page-bg: #efeff4;

@text-color: #333;

@link-color: #586c94;


//字体大小

@font-size-xxlarge: 1.4rem;

@font-size-xlarge: 0.95rem;

@font-size-large: 0.85rem;

@font-size-medium: 0.75rem;

@font-size-small: 0.55rem;

@font-size-xsmall: 0.45rem;

@font-size-h1: 1.6rem;

@font-size-h2: 1.4rem;

@font-size-h3: 1.1rem;

@font-size-h4: 0.95rem;

@font-size-h5: 0.85rem;

@font-size-h6: 0.75rem;


//文字行高

@line-height-xxlarge: 3;

@line-height-xlarge: 2;

@line-height-large: 1.5;

@line-height-medium: 1.25;

@line-height-small: 1.125;

@line-height-xsmall: 1;


//间距大小

@space-0: 0;

@space-xxlarge: 3rem;

@space-xlarge: 2rem;

@space-large: 1.25rem;

@space-medium: 0.95rem;

@space-small: 0.625rem;

@space-xsmall: 0.3125rem;

@caps-letter-spacing: 0.2rem;

//边框
@border-width: 1px;

@border-radius: 0.45rem;

@border-color: @light;
